Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
releases
stamp-h
stamp-h1
stamp-h.in
*~
*.swp
*.o
.deps
*.exe
decgen/parse_idef.cpp
decgen/parse_idef.h
decgen/scan_idef.c
emulator/arm_dec.h
emulator/arm_dec2.h
emulator/parse_conf.cpp
emulator/parse_conf.hpp
emulator/scan_conf.cpp
issgen/parse_isa.cpp
issgen/parse_isa.hpp
issgen/scan_isa.cpp
jit/build_dll.hpp
emulator/libarmemu.a
jit/libdynarmemu.a
decgen/decgen32
emulator/ema
issgen/issgen
jit/decomp_server
jit/ema_jit
